{% extends 'base.html' %}

    {% block body %}
        <div class="container ticket-detail" style="max-width: 25rem;">
            <nav class="nav-items" style="top: 0;left: 0;">
                <div class="logo" ><a href="/complaint">Customer Care</a></div>
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                <i class="fa fa-bars"></i>
                </label>
                <ul>
                    <li><a href="{{url_for('loginHome')}}">Back</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
        </nav>
            <!-- <div class="jumbotron">
                <div class="row">
                    <div class="col">
                        <h2>{{ ticket[3] }}</h2>
                        <p>{{ ticket[4] }}</p>
                    </div>
                    <div class="col">
                        <div class="row detail-card bl">
                            <h4>Complaint Filed by {{ customer[1] }}</h4>
                        </div>
                        <div class="row detail-card gr">
                            <h4>Progress: {{ ticket[5] }}</h4>
                        </div>
                        <div class="row detail-card yl">
                            <h4>Assigned to: {{ agent[1] }}</h4>
                        </div>
                    </div>
                </div>
                {% if user[3] == 2 %}
                <div class="row" >
                    <form method="POST">
                        <select name="agent">
                            {% for user in all_users %}
                                <option value="{{user[4]}}">{{user[0]}}</option>
                            {% endfor %}
                        </select>
                        <input class="btn btn-danger btn-sm" type="submit" value="Assign"/>
                    </form>
                </div>
                {% elif user[3] == 1%}
                    {% if ticket[5] == "assigned" %}
                        <a href="/accept/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-secondary">Accept</button></a>
                    {% elif ticket[5] == "accepted" %}
                        <a href="/delete/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-danger" >Close</button></a>
                    {% endif %}
                {% endif %}
            </div> -->
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success"> <h2>{{ ticket[3] }}</h2></div>
                <div class="card-body text-success">
                  <h5 class="card-title">Description</h5>
                  <p class="card-text" ></p><p>{{ ticket[4] }}</p></p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <div class="col">
                        <div class="row">
                            <p>Complaint Filed by {{ customer[1] }}</p>
                        </div>
                        <div class="row">
                            <p>Progress : {{ ticket[5] }}</p>
                            
                        </div>
                        <div class="row">
                            <p>Assigned to : {{ agent[1] }}</p>
                        </div>
                        {% if ticket[5] == "None" %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% elif ticket[5] == "assigned" %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% elif ticket[5] == "accepted" %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% endif %}
                        {% if user[3] == 2 %}
                        <div class="row" >
                            <form method="POST">
                                <select name="agent">
                                    {% for user in all_users %}
                                        <option value="{{user[4]}}">{{user[0]}}</option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-danger btn-sm" type="submit" value="Assign"/>
                            </form>
                        </div>
                        {% elif user[3] == 1%}
                            {% if ticket[5] == "assigned" %}
                                <a href="/accept/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-secondary">Accept</button></a>
                            {% elif ticket[5] == "accepted" %}
                                <a href="/delete/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-danger" >Close</button></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
              </div>
             
        </div>
        
    {% endblock %}