{% extends 'base.html' %}

    {% block body %}
    <nav class="nav-items" style="top: 0;">
            <div class="logo" ><a href="/">Customer Care</a></div>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
            <i class="fa fa-bars"></i>
            </label>
            <ul>
                <li><a  href="/aboutus">About</a></li>
                <li><a href="/contactus">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
    </nav>
    <section class="contact" style="margin-top: 10em;">
        <div class="container">
            <div class="row contact-head mt-5">
                <div class="contact-title">
                    <h1>Let's Start a Conversation </h1>
                </div>
                <p>Let's talk about your career and life. Send us a message and we will be in touch within one business day</p>
                    
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-6">
                    <h4 class="mb-4" style="color: #1f4788;"><b>Ask how we can help you</b></h4>
                    <p class="h5 mb-4">Having doubts in our services </p>
                    <p class="h5 mb-4">Ask our experts and get a clear minded solution to all your questions.</p>
                    <p class="h5 mb-4">Connect With Us:</p>
                    <div class="founder-social">
                        <ul class="list-unstyled d-flex">
                            <li class="mr-4 h3"><a href="https://www.linkedin.com/in/experd-solutions-467597220/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="mr-4 h3"><a href="https://www.facebook.com/Experd-Solutions-105826285184242"  target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li class="mr-4 h3"><a href="https://www.instagram.com/rajasekar.hr/"  target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="mr-4 h3"><a href="https://www.instagram.com/rajasekar.hr/"  target="_blank"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 contact-form">
                    <form action="contact.php" method="post">
                        <p>Please Note:All Fields are required</p>
                        <input type="text" name="Name" id="name" placeholder="Name" required>
                        <input type="tel" name="mobile" id="mobile" placeholder="Mobile No" required>
                        <input type="email" name="Email" id="email" placeholder="Email" required>
                        <textarea name="mesaage" id="message" cols="5" rows="5" placeholder="Enter Message" required></textarea>
                        <input type="submit" name="submit" value="Hear From An Expert!!">
                    </form>
                </div>
            </div>
        </div>
</section>
    <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class=" col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="../services/">Web Development</a></li>
                                <li><a href="../services/">Web Hosting</a></li>
                                <li><a href="../services/">Digital Marketing</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="../about/">Company</a></li>
                                <li><a href="../team/">Team</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 item">
                            <h3>Contact</h3>
                            <ul>
                                
                                <li><a href="mailto:curatedsolution@gmail.com">curatedsolution@gmail.com</a></li>
                                <li><a href="tel:6374520688">6374520688</a></li>
                            </ul>
                            
                        </div>
                        <div class="col-md-3 item">
                            <h3>Image Credits</h3>
                            <ul>
                                <li><a href="https://www.freepik.com/" target="_blank">Freepik</a></li>
                            </ul>
                            
                        </div>
                        <div class="col item social">
                            <a href="https://www.facebook.com/curatedsolution" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/SolutionCurated" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/curatedsolutions/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/curated-solutions-a09239216/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <p class="copyright">Copyright © 2021.All rights resevered</p>
                </div>
            </footer>
        </div>
</div>
  {% endblock %}
